@import 'tailwindcss';

@font-face {
	font-family: 'vcr-osd-mono';
	src: url('/fonts/vcr-osd-mono.woff2');
	font-display: swap;

	font-style: normal;
}
html {
	/* background-color: var(--color-brown); */
	background-color: rgb(160, 160, 160);
	font-family: vcr-osd-mono;
	color: rgb(30, 30, 30);
}
